<% layout('layouts/boilerplate') %>

<div id="cluster-map" class="mt-3"></div>

<% for (const campground of campgrounds) { %>
<div class="card my-2">
  <div class="row">
    <div class="col-md-4">
      <% if(campground.images.length) { %>
      <img
        src="<%= campground.images[0].url %>"
        class="img-fluid"
        alt="campground"
      />
      <% } else { %>
      <img
        src="https://res.cloudinary.com/dweyqcjwr/image/upload/v1671172403/YelpCamp/nszo8rr3nqps3z4sgbqf.jpg"
        alt="campgrounds photo"
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><%= campground.title %></h4>
        <h6 class="card-subtitle text-muted"><%= campground.location %></h6>
        <p class="card-text"><%= campground.description %></p>
        <h5>$ <%= campground.price %></h5>
        <a href="campgrounds/<%= campground._id %>" class="btn btn-primary">
          View <%= campground.title %></a
        >
      </div>
    </div>
  </div>
</div>
<% } %>

<script>
  const token = "<%= process.env.MAPBOX_TOKEN %>";
  const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
</script>

<script src="/javascripts/clusterMap.js"></script>
